/* .company { grid-area: company; }
.price { grid-area: price; }
.change { grid-area: change; } */


.flex-container {
    display:flex;
    gap: 5px;
    background-color: #cbcaca;
    padding: 5px;
    border: solid black 2px;
    justify-content: space-around;

}

.company {
    /* border: solid black 2px; */
    align-items: flex-start;
    align-content: center;
    text-decoration: underline;
}
.price {
    /* border: solid black 2px; */
    align-items: flex-start;
    align-content: center;
    text-decoration: underline;
}
.change {
    /* border: solid black 2px; */
    align-items: flex-start;
    align-content: center;
    text-decoration: underline;
}

.header {
    display:flex;
    /* border: solid black 2px; */
    justify-content: space-around;

}